{% extends "news/base1.html" %}
{% load static %}
{% block content %}
	<!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="{% static 'news/images/myimage.jpg' %}" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">        

            <div class="row contents">                     
                <div class="home-content-left">

                    <h3 data-aos="fade-up">Welcome to NewsUp</h3>

                    <h1 data-aos="fade-up">
                        Read All<br>
                        Latest News Here <br>
                        Stay Updated
                    </h1>

                    <!--<div class="buttons" data-aos="fade-up">
                        <a href="#download" class="smoothscroll button stroke">
                            <span class="icon-circle-down" aria-hidden="true"></span>
                            Download App
                        </a>
                        <a href="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=39b54a" data-lity class="button stroke">
                            <span class="icon-play" aria-hidden="true"></span>
                            Watch Video
                        </a>
                    </div>-->                                         

                </div>

                <!--<div class="home-image-right">
                    <img src="{% static 'news/images/iphone-app-470.png' %}"   
                        data-aos="fade-up">
                </div>-->
            </div>

        </div> <!-- end home-content -->

        <ul class="home-social-list">
            <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
        </ul>
        <!-- end home-social-list -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->  


    <!-- about
    ================================================== -->
    <section id="about">

        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">About Our Web App</h1>
            </div>
            <div class="col-eight">
                <p class="lead" data-aos="fade-up">
                    In today's world there is a need to stay updated with latest news from different Fields such as Tech,Economy,Sports,etc.So our Web App keeps user notified about latest news from top websites curated onto their Dashboard. 
                </p>
            </div>                       
            
        </div>

        <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature" data-aos="fade-up">	

                    <span class="icon"><i class="icon-window"></i></span>            

                    <div class="service-content">	

                        <h3>Fully Responsive</h3>

                        <p>Include a clear and concise statement in the header, footer, or hero section of your website stating that it is built with a "fully responsive design" or "mobile-friendly" to immediately inform visitors about its adaptability.Highlight any improvements in load times for mobile devices, as responsive design often helps reduce loading times and improve overall performance.
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature" data-aos="fade-up">	

                        <span class="icon"><i class="icon-image"></i></span>                          

                    <div class="service-content">	
                        <h3>Retina Ready</h3>  

                        <p>They use images with higher pixel densities, typically 2x the standard resolution, to ensure that images appear sharp and crisp on devices with retina displays.Utilize vector graphics, which are resolution-independent and scale smoothly without losing quality, ensuring they look sharp on any screen.Utilize icon fonts instead of image-based icons to ensure they scale well on retina displays.
                        </p>

                        
                    </div>	                          

                </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-paint-brush"></i></span>		            

                    <div class="service-content">
                        <h3>Stylish Design</h3>

                        <p>Visual aesthetic or artistic approach applied to a product, object, or creative work, where the emphasis is on elegance, attractiveness, and originality. It involves using various design elements and principles to create a visually appealing and sophisticated outcome that stands out from the ordinary or conventional.Highlight any improvements in load times for mobile devices.
                        </p> 
                            
                    </div> 	            	               

                </div> <!-- /bgrid -->

                    <div class="bgrid feature" data-aos="fade-up">

                        <span class="icon"><i class="icon-file"></i></span>	              

                    <div class="service-content">
                        <h3>Clean Code</h3>

                        <p>Well-organized, readable, and maintainable programming code that is easy for developers to understand and modify. Clean code is not just about achieving functionality; it also focuses on writing code in a way that is efficient, clear, and minimizes complexity. Clean code is essential for producing high-quality software that can be easily maintained, extended, and collaborated on by multiple developers.
                        </p> 
                        
                    </div>                

                    </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-sliders"></i></span>	            

                    <div class="service-content">	
                        <h3>Easy To Customize</h3>

                        <p>Product or service that can be modified or adapted with relative simplicity and minimal effort. It applies to various contexts, including software, websites, templates, themes, and physical products. When something is easy to customize, users can make changes, adjustments, or personalizations according to their specific preferences or requirements without encountering significant barriers or technical challenges.
                        </p>                            
                    </div>	               

                </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-gift"></i></span>	   	           

                    <div class="service-content">
                        <h3>Free of Charge</h3>

                        <p>Can be accessed and used by visitors without requiring any payment or fees. It is a website that provides its content, services, or resources to users at no cost, allowing them to browse, interact, and utilize its features without any monetary compensation.Website that provide free access to articles, blog posts, educational materials, news, and other informative content without requiring users to subscribe or pay for access.
                        </p> 
                            
                    </div>	               

                </div> <!-- /bgrid -->

            </div> <!-- end features-list -->

        </div> <!-- end about-features -->

        <div class="row about-how">
          
            <h1 class="intro-header" data-aos="fade-up">How The Web App Works?</h1>           

            <div class="about-how-content" data-aos="fade-up">
                <div class="about-how-steps block-1-2 block-tab-full group">

                    <div class="bgrid step" data-item="1">
                        <h3>Register</h3>
                        <p>Register onto the web app to read latest news from top websites and stay updated! 
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="2">
                        <h3>Sign In</h3>
                        <p>After registering yourself Sign In to view the news related to different fields such as Tech,Economy,Sports,etc 
                        </p> 
                    </div>               
               
                    <div class="bgrid step" data-item="3">
                        <h3>Create Profile</h3>
                        <p>Upload your profile pic.Also you can update your email-id,username and profile pic as and when required by filling a short update form.
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="4">
                        <h3>Read</h3>
                        <p>Read all your favourite news streams from different websites onto the single website and thatb to free of cost and those annoying Ads. 
                        </p> 
                    </div>  

                </div>           
           </div> <!-- end about-how-content -->

        </div> <!-- end about-how -->

              
{% endblock %}